@import url("https://fonts.googleapis.com/css?family=Ubuntu+Condensed");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Ubuntu Condensed", sans-serif;
}

/* 
  I know that this is more complecated for the first time, 
    but using CSS methodologies is prefered.
  
  ^read more https://en.bem.info/methodology/
*/

.navBar {
  width: 100%;
  list-style: none;
  margin: 0px 0 5px;
  padding: 25px 0 5px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.9);
}
.navBar li {
  display: inline-block;
}
/* ПЕРЕГОРОДКИ МЕЖДУ ЭЛЕМЕНТАМИ ШАПКИ */
/* .navBar li:after {
  content: "|";
  color: #ada1a1;
  display: inline-block;
  vertical-align: top;
} */
.navBar li:last-child:after {
  content: none;
}
.navBar a {
  text-decoration: none;
  /*font-family: "Ubuntu Condensed", sans-serif;  try not to use uneeded fonts, create a general class which elements should use the font */
  letter-spacing: 2px;
  position: relative;
  padding-bottom: 20px;
  margin: 0 25px 0 25px;
  font-size: 20px;
  text-transform: uppercase;
  display: inline-block;
  transition: color 0.2s;
}
.navBar a,
.navBar a:visited {
  color: #9d999d;
}
.navBar,
.navBar a:hover {
  color: #426cdffb;
}
.navBar a:before,
.navBar a:after {
  content: "";
  position: absolute;
  height: 4px;
  top: auto;
  right: 50%;
  bottom: -5px;
  left: 50%;
  background: #853499;
  transition: 0.8s;
}
/* .navBar a:hover:before, .navBar .current:before {left: 0;} */
/* .navBar a:hover:after, .navBar .current:after {right: 0;}    */
@media (max-width: 550px) {
  .navBar {
    padding-top: 0;
  }
  .navBar li {
    display: block;
  }
  .navBar li:after {
    content: none;
  }
  .navBar a {
    padding: 25px 0 20px;
    margin: 0 30px;
  }
}

.scrolled {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}

.about {
  padding-top: 100px;
  justify-content:space-between;
  margin-left: 20px;
}

.aboutText {
  font-size: 30px;
  padding-top: 130px;
  margin-left: 20px;
  margin-right: 130px;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

section {
  display: flex;
  padding-top: 100px;
  position: relative;
}

.sessions {
  justify-content:space-between;
}

.report {
  font-size: 20px;
  margin-left: 25px;
  text-align: center;
}
.concert {
  font-size: 20px;
  margin-left: 25px;
  text-align: center;
}
.nature {
  font-size: 20px;
  margin-left: 25px;
  text-align: center;
}
.street {
  font-size: 20px;
  margin-left: 25px;
  margin-right: 25px;
  text-align: center;
}

.sessionsH {
  font-size: 45px;
}

.conditions {
  margin-top: 100px;
}


