.popular {
	color: #232323;
	display: flex; justify-content: center;

	&__cover {
		width: 400px;
		border-radius: 4px;
		box-shadow: 0 0 14px 6px rgb(233, 0, 32, 0.2);
	}

	&__content {
		margin-left: 40px;
		display: flex; 
		flex-direction: column;
		justify-content: space-between;
	}
	&__authoring {
		min-height: 80px;
	}
	
	&__author {
		font-size: 16px; font-weight: 600;
	}
	&__title {
		font-size: 24px; font-weight: 600; line-height: 1.6;
	}

	&__description {
		width: 450px;
		font-weight: 300; line-height: 1.35;
		text-align: justify;
	}
	.btn { margin-top: 20px; }
}